@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --foo-color:#333333;
    --color_wite:#FFFFaa;
    --txt-color:#FFFFFF;
    --nav-color:#F3C324;
    --bag-color:#111111;
    background-color: var(--bag-color);
    color: var(--txt-color);
}


.header{
    height: 300px;
    color: var(--nav-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 26px;
    align-items: center;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
}
.a-header > img{
    filter: drop-shadow(5px 5px 10px var(--foo-color));
    filter: saturate(200%);
    animation-name: traslation;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-delay: 1;
    animation-iteration-count:1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: initial;
}


@keyframes traslation {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
    20%,100% {
      opacity: 1;
      transform: translateX(0);
    }
    /* 100% {
      opacity: 0;
      transform: translateX(100px);} */
  }
main  div {
    text-align: center;
    max-width: 60%;
    font-size: 1.4rem;
    text-wrap: wrap;
    font-family:  Verdana, sans-serif;
}

/* body-nav */
.nav-grid{
height:100%;
 display: grid;
 grid-template-columns: repeat(4, 240px);
 grid-template-rows: repeat(8, 240px);
 justify-content: center;
 align-content: center;
 margin-bottom: 3rem;
 box-sizing: border-box;
 
}

.dia-rt{
    display: flex;
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    background: var(--nav-color);
    color: var(--txt-color);
    font-size: 22px;
    border-radius: 12px;
    border: var(--color_wite) 8px groove; 
    /* box-shadow: 5px 5px 10px 1px #000000; */
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}


.nav-enlaces {
    text-decoration: none;
    width: 100px;
    height: 100px;
    cursor: pointer;
}
/* footer */

.foo{
    display: flex;
    align-items:center;
    justify-content:space-around;
    width: 100%;
    height: 200px;
    background-color: var(--foo-color);
}

span{
    font-size: 16px;
    color:  var(--nav-color);
    padding: 0 10px 0 10px;
    cursor: pointer;
}

/* Efectos y animaciones */

.header h1{
    animation: parpadeo 8s ease-in-out infinite;
}

@keyframes parpadeo {
    0%{
        color: var(--nav-color);
    }

    50%{
        color: var(--txt-color);
    }

    100%{
        color: var(--nav-color);  
    }
}

.dia-rt:hover{
    background: var(--color_wite);
    color: var(--nav-color);
    border-radius: 14px;
    border: var(--nav-color) 8px groove; 
    transition: 1.2s;
}

/* Responcive */

@media (max-width: 800px) {
    .nav-grid{
        height:100%;
        display: grid;
        grid-template-columns: repeat(2, 250px);
        grid-template-rows: repeat(16, 250px);
        }
        .header{
            height: 500px;
            font-size: 18px;
        }
        main{
            height: 400px;
        }
        main div {
            text-wrap: wrap;
            font-size: 1.1rem;
        }

}

@media (max-width: 1000px) {
    .nav-grid{
        height:100%;
        display: grid;
        grid-template-columns: repeat(2, 250px);
        grid-template-rows: repeat(16, 250px);
        justify-content: center;
        align-content: center;
        }
        .header{
            height: 300px;
        }
        main div {
            text-wrap: wrap;
            font-size: 1.2rem;
        }
        
}


@media (max-width: 600px) {
    .header{
        height: 300px;
        text-wrap: wrap;
        font-size: 18px;
        text-align: center;
    }
    .header img{
        width: 200px;
    }
    .header{
        height: 300px;
    }
    main {
        height: 300px;
           
    }

    main div {
        font-size: 1rem;
    }
    .nav-grid{
        height:100%;
        display: grid;
        grid-template-columns: repeat(1, 200px);
        grid-template-rows: repeat(30, 250px);
        justify-content: center;
        align-content: center;
        }
}