body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --foo-color:#333333;
    --txt-color:#FFFFFF;
    --nav-color:#F3C311;
    --bag-color:#222222;
    --incople-color:#BD3936;
    --reto-color:#38e; 
    font-family: monospace;
    background-color: var(--bag-color);
    color: var(--txt-color);
}

/* Header */

.header{
    color: var(--nav-color);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

/* Comentario */
.coment{
    width: 100%;
    height: auto;
    border-bottom: 1px solid  var(--txt-color);
    text-align: center;
    font-size: 12px;
}
/* Reto Contenedor */
.reto{
    min-height: 450px ;
    display: flex;
    justify-content:space-around;
    align-items:center;
    padding-bottom:10px ;
}
/* Reto */


.conten{
    padding: 10px;
    background: var(--reto-color);
    margin: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.txt{
    max-width: 500px;
    text-wrap: wrap;
} 

/* footer */

.foo{
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    width: 100%;
    height: 200px;
    background-color: var(--foo-color);
}

span{
    font-size: 16px;
    color:  var(--nav-color);
    padding: 0 10px 0 10px;
}

/* Efectos y animaciones */

.header h1{
    animation: parpadeo 8s ease-in-out infinite;
}

@keyframes parpadeo {
    0%{
        color: var(--nav-color);
    }

    50%{
        color: var(--txt-color);
    }

    100%{
        color: var(--nav-color);  
    }
}