body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --foo-color:#333333;
    --txt-color:#FFFFFF;
    --nav-color:#F3C311;
    --bag-color:#222222;
    --incople-color:#BD3936;
    font-family: monospace;
    background-color: var(--bag-color);
    color: var(--txt-color);
    box-sizing: border-box;
    --COLOR-BODY: rgb(136, 238, 190);
    --COLOR-CARD: rgba(69, 9, 138, 0.5) ;
    --card-color: #2f0;
}

/* Header */

.header{
    color: var(--nav-color);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Comentario */
.coment{
    width: 100%;
    height: auto;
    border-bottom: 1px solid  var(--txt-color);
    text-align: center;
    font-size: 15px;
}
/* Reto Contenedor */
.reto{
   min-height: 500px ;
   display: flex;
   justify-content: center;
   align-items: baseline;
    padding-bottom:10px ;
    background:url(rick-and-morty-en-nave_3840x2400_xtrafondos.com.jpg) center no-repeat;
    background-size: cover ;
    margin: 20px;
}
/* Reto */
/* Card */
.card-containes{
    width: 20%;
    padding: 10px;
    height: auto;
    background-color: var(--COLOR-CARD);
    margin: auto;
    margin-top: px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px 5px #333;
    color: var(--card-color);
    user-select: none;
}

.contines-text{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containes-img{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    margin-top: 10px;
}
 a{
    color: #2f0;
}

img{
    user-select: none;
    border-radius: 50%;
    height: auto;
    width: 200px;
    

}



/* Animaciones */
img:hover{

}

.card-containes:hover {
    transform: translate(-12PX, -10PX);
    box-shadow: 2PX 2PX 2PX 2PX #000;
    animation: parpeo 2s infinite;
}

@keyframes parpeo {
    0%{
        box-shadow: 2PX 2PX 2PX 2PX #fff;
    }

    50%{
        box-shadow: 2PX 2PX 2PX 2PX #917;
    }

    100%{
        box-shadow: 2PX 2PX 2PX 2PX #2f0;
    }
}

.card-containes:active{
    animation: rotar 3s infinite ;

}

@keyframes rotar {
    0%{
        transform: rotate(0deg);
        border: 1px solid #fff;
    }

    25%{ 
        transform: rotate(90deg);
        border: 2px solid #2f0;
    }
    50%{
        transform: rotate(180deg);
        border: 1px solid #000;
    }
    75%{
        transform: rotate(270deg);
        border: 1px solid #fff;
    }
    100%{
        transform: rotate(360deg);
        border: 2px solid #717;
    }
}

/* footer */

.foo{
    display: flex;
    align-items:center;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: var(--foo-color);
}

span{
    font-size: 16px;
    color:  var(--nav-color);
    padding: 0 10px 0 10px;
}

/* Efectos y animaciones */

.header h1{
    animation: parpadeo 8s ease-in-out infinite;
}

@keyframes parpadeo {
    0%{
        color: var(--nav-color);
    }

    50%{
        color: var(--txt-color);
    }

    100%{
        color: var(--nav-color);  
    }
}
