body{
    margin: 0;
    background-color: #333;
}
.h1{
    text-align: center;
    color: antiquewhite;
    animation-duration: 3s ;
    animation-name: parpadeo;
}
/* Animación */
@keyframes parpadeo {
    from{
        h1{
            width: 300px;
        }
    }
    to{
        h1{
            width: 100px;
        }
    }
}

